.about {
    font-family: 'Overpass', sans-serif;

    &__title {
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
        color: #333;
        margin-top: 8rem;
    }
}

.wrapper {
    

    &__background {
        width: 100%;
        max-width: 50rem;
        height: 45rem;
        background: url('/src/assets/img/illustration-editor-mobile.svg') center no-repeat;
        background-size: contain;
        margin: 0 auto;


    }
    &:nth-child(5) > .wrapper__background {
        background: url('/src/assets/img/illustration-laptop-mobile.svg') center no-repeat;
        background-size: 140%;
        margin: 3rem auto;
        

    }
    

    &__phones {
        position: absolute;
        top: -35rem;
        left: 50%;
        width: 100%;
        max-width: 50rem;
        height: 100%;
        transform: translateX(-50%);
        background: url('/src/assets/img/illustration-phones.svg')center no-repeat;
        background-size: contain;

    }

    &--special {
        margin-top: 40rem;
        border-radius: 0 10rem 0 10rem;
        padding: 40% 0 20% 0;
        background: url('/src/assets/img/bg-pattern-circles.svg')-9rem -20rem no-repeat, linear-gradient(-20deg, hsl(237, 23%, 32%), hsl(237, 17%, 21%));
        background-size: 130%;
        color: rgb(248, 248, 247);

        position: relative;
    }
}

.capabilities {

    &__description {
        padding: 0 3.5rem;
        font-size: 2rem;
        text-align: center;
        line-height: 3rem;
        margin-bottom: 4rem;
    }

    &--special {
        >.capabilities__title {
            font-size: 4.5rem;
        }
    }

    &__title {
        font-size: 3rem;
        text-align: center;
        padding: 10%;
    }


}