@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');
@import "_variables";
@import "./modules/navbar.scss";
@import "./modules/about.scss";
@import "./modules/footer.scss";
@import "./modules/animations.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

button, .hero__link {
  position:relative;
  cursor: pointer;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    height: 100%;
    width: 5px;
    background-color: none;
    box-shadow: 10px 0px 5px white, 20px 0 5px white;
    transform: skewX(-35deg);
    transition: transform 0.5s linear;
  }

  &:hover::after {
    transform: skewX(-35deg) translateX(23rem);
    transition: transform 0.2s linear;
  }
}